/* layout css */

body {
    width: 100%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 20px;
    padding-top: 50px;
    position: relative;
    color: #4c4c4c;
}

nav {
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 700;
}

.team-logo {
    width: 30px;
    height: 30px;
}

.nav-item {
    margin: 5px;
}

.dropdown-item {
    font-size: 18px;
    padding: 10px;
    margin: 0px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #ffae0f !important;
}

.page {
    width: 100%;
}

.footer {
    width: 100%;
    background: rgb(63, 63, 63);
    color: white;
    padding: 50px 0px;
}

.footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: white;
}

.contact li {
    display: flex;
    align-items: center;
    line-height: 40px;
    width: auto;
}

.contact span:hover {
    color: #fdff7b;
}

.copyright {
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
}

/* back-to-top-button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.footer-container {
    width: 80%;
    height: auto;
    /* background: rgb(175, 175, 175); */
    margin: auto;
}