/* main page css */

.main-img {
    /* margin-top: 50px; */
    width: 100%;
}

.content-container {
    margin: 0px auto;
    width: 80%;
}

.home-content {
    margin: 100px auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#reverse {
    flex-wrap: wrap-reverse;
}

.content-img {
    width: 50%;
    height: 100%;
}

.content-text {
    width: 40%;
}

@media screen and (max-width: 1000px) {
    .content-img {
        width: 80%;
        height: 100%;
    }
    
    .content-text {
        width: 100%;
    }

    .home-content {
        text-align: center;
    }
}

.home-content h1 {
    color: #b78a61;
    font-size: 50px;
    margin: 20px 0px;
}

.home-content p {
    line-height: 2em;
    color: #a17a56;
}

.home-ref {
    margin: 100px 0px;
}

.home-ref h2 {
    color: #b78a61;
    font-size: 30px;
}

.home-ref hr {
    color: #b78a61;
}

.home-ref p {
    color: #b78a61;
    font-size: 20px;
}
