/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/* main css */

body {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

nav {
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 700;
}

#team-logo {
    width: 30px;
    height: 30px;
}

.nav-item {
    margin: 5px;
}

.main-img {
    /* margin-top: 50px; */
    width: 100%;
}

.content-container {
    width: 80%;
    height: auto;
    /* background: rgb(175, 175, 175); */
    margin: auto;
}

.content {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.content h1 {
    color: yellow;
    font-size: 50px;
}

.footer {
    width: 100%;
    background: rgb(63, 63, 63);
    color: white;
    padding: 50px 0px;
}

.footer-icon {
    width: 20px;
    height: 20px;
}

.contact li {
    display: flex;
    align-items: center;
    line-height: 40px;
    width: auto;
}

.contact span:hover {
    color: yellow;
}

.contact img {
    margin-right: 10px;
}

